.sidebar__wrapper{
   width: 80px;
  position: fixed;
  top: 80;
  bottom: 0;
    left: 0;
    z-index: 1036;
    background-color: #000;
    border-right: 1px solid rgb(164, 142, 255);
    /* box-shadow: 0 8px 20px -8px lightgray; */
    align-items: center;
   padding: 5px 20px;
   transition: width ease 0.31s;
}

.sidebar__wrapperActive{
   
    top: 80;
    bottom: 0;
      left: 0;
    width:200px;
    background-color: #000;
  
}
.sidebar__wrapper:hover{
    width:240px;
    padding: 5px 20px;
    margin: 0;
  
  
}
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    /* width: 60px; */
    background-color: #000;
    align-items: center;
    
    
}



.sidebar__linkContainer{
    transition:padding 1s;
    padding: 2px 13px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.sidebar__links{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
  overflow: hidden;
  padding:0;

 
}
.sidebar__recentLinks{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
  overflow: hidden;
  padding:0;
  border-bottom: 1px solid #565656;

 
}
.sidebar__link{
  display: flex;
  text-decoration: none;
 
}
.sidebar__linkContainer:hover .sidebar__linkTitle,
.sidebar__linkContainer.hover .sidebar__linkTitle{
 padding-left: 5px;
}

.sidebar__linkContainerActive {
    display: flex;
    color: rgb(164, 142, 255);
    cursor: pointer;
    width: 240px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
   border-left: 2px solid rgb(164, 142, 255);
    border-radius: 4px;
    webkit-transition: padding .35s ease 0s!important;

}
/* .sidebar__linkContainer__collapse_Active{
    display: flex;
    color: rgb(164, 142, 255);
    border-left: 2px solid rgb(164, 142, 255);
    cursor: pointer;
    width: 240px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    background: #565656;
    border-radius: 4px;
    webkit-transition: padding .35s ease 0s!important;
} */
.sidebar__iconAnd__sidebarIconNameActive{
    color: rgb(164, 142, 255);
    cursor: pointer;
    display: block;
    margin-right: 1rem;
}


.sidebar__linkIcon{
    cursor: pointer;
    display: block;
    color: #565656; 
    margin-right: 1rem;
    font-size: 20px;
    
}
.sidebar__recentLinkTitle{
    color: #565656;
    font-size: 13px; 
    width: 100%;
    transition: all ease 0.31s;
}
.sidebar__linkTitle{
    color: #565656;
    font-size: 13px; 
    width: 100%;
    transition: all ease 0.31s;
}
.sidebar__linkTitleActive{
    color: rgb(164, 142, 255);
    font-size: 13px; 
}



/* ========================media queries =============================================*/

@media screen and (max-width: 576px) {
    .sidebar__wrapper{
        width:240px;
    }

    
.sidebar__wrapper:hover{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width:240px;
    background-color: #fff;
  
}
.sidebar__wrapperActive{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width:240px;
    background-color: #fff;
  
}
.sidebar__closeButton{
    display: block;
    margin-left: 2.5rem;
}
.sidebar__radioButton{
    display: none;
}

}